#header {
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 3em;
}
#top-block {
  position: relative;
  width: 98vw;
  height: 100%;
  /* padding: 35px 1vw; */
  padding: 45px 1vw 35px 1vw
}
#question-m {
  position: absolute;
  left: 2%;
}
#title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Baskerville";
  font-size: 13pt;
  text-align: center;
  font-weight: 530;
  padding-bottom: 3%;
  padding-right: 4.3%;
  padding-left: 4.3%;
  letter-spacing: 1.7px;
}
#up {
  position: absolute;
  right: 3%;
}

#up2 {
  position: absolute;
  right: 3%;
}

#top-line {
  position: absolute;
  top: 0;
}

#top-line2 {
  position: absolute;
  top: 0;
}


body {
  background-color: black;
}

img {
  width: 80%;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  font-family: "avenir";
  font-size: 15pt;
}

.gif {
  width: 40%;
  height:auto;


}

p {
  padding-top: 1%;
  padding-left: 27%;
  padding-right: 27%;
  color: white;
  font-family: "gill sans";
  font-weight:lighter;
  font-size: 9pt;
  text-align:center;
  line-height: 2;
  letter-spacing: 1.7px


}

.container {
  /* rocks */
  text-align: center;
  width: 100%;
  margin-top: 7em;
  display:grid;
  /* align-items: flex-start; */
  /* flex-direction: column; */
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-column-gap: 0em;
  grid-row-gap: 3em;
  /* width: 100%; */
}

.container2 {
  /* about images */
  margin-top: 7em;
  margin-right: 1%;
}

.container3 {
  text-align: center;
}


.rock1 {
  flex:1;
}

.rock2 {
  flex:1;
}

.rock3 {
  flex:1;
}

.about2 {
width: 40%;
padding-left: 30%;
padding-right: 30%;
align-items: center;
}

p.footer {
  color: white;
  font-family: "gill sans";
  font-weight:100;
  font-size: 7pt;
  text-align: center;
  letter-spacing: 1.3px;
  height: 3em;
  width: 100%;
  margin: auto;
}

.aboutimage {
  text-align: center;
  letter-spacing: 1.3px;
  border-width: thin;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
  img {
    width: 90%;
  }
}
